<div class="container">
  <div class="container__title">
    Select the answers based on how well each statement describes you.
  </div>
  <div class="container__items">
    <app-circle-item imgSrc="https://i.ibb.co/LhjLCmP/01.jpg" content="Strongly disagree"></app-circle-item>
    <app-circle-item imgSrc="https://i.ibb.co/1XbTXP5/02.jpg" content="Disagree"></app-circle-item>
    <app-circle-item imgSrc="https://i.ibb.co/5GZN3Vn/03.jpg" content="Neutral"></app-circle-item>
    <app-circle-item imgSrc="https://i.ibb.co/JtCN33B/04.jpg" content="Agree"></app-circle-item>
    <app-circle-item imgSrc="https://i.ibb.co/LPqksM5/05.jpg" content="Strongly agree"></app-circle-item>
  </div>
  <div class="container__tests" *ngFor="let test of tests$ | async">
    <app-question [test]="test"></app-question>
  </div>
</div>
<div class="container__button" routerLink="/result">
  <app-button title="Result" classes="btn btn__secondary" (click)="onResult()"></app-button>
</div>
