.spinner {
    visibility: visible;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
    border-top: 3px solid rgb(181, 241, 189);
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    animation: spin 1s infinite linear;
    z-index: 2;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}