.container__text {
    margin: 15px;
    font-size: 18px;
}

.container__input {
    -webkit-appearance: none;
    appearance: none;
    border: 0.03em solid rgb(185, 184, 184);
    margin: 0 15px;
    font: inherit;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: translateY(-0.075em);
}

.container__input--rose {    
    background-color: currentColor;
    color: rgb(253, 213, 213);
}

.container__input--lightrose {
    background-color: currentColor;
    color: rgb(254, 232, 232);
}

.container__input--white {
    background-color: rgb(255, 255, 255);
    color: rgb(232, 229, 229);
}

.container__input-lightgreen {
    background-color: currentColor;
    color: rgb(229, 250, 233);
}

.container__input-green {
    background-color: currentColor;
    color: rgb(181, 241, 189);
}

.container__input::before {    
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
}

.container__input:checked {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}
