<div class="container">
    <div class="container__text">
        {{test.description | titlecase}}
    </div>
    <form class="container__form" >
        <input class="container__form__input container__form__input--rose" type="radio" name={{test.id}}  value="1">
        <input class="container__form__input container__form__input--lightrose" type="radio" name={{test.id}} value="2">
        <input class="container__form__input container__form__input--white" type="radio" name={{test.id}} value="3">
        <input class="container__form__input container__form__input-lightgreen" type="radio" name={{test.id}} value="4">
        <input class="container__form__input container__form__input-green" type="radio" name={{test.id}} value="5">
    </form>
</div>
