<div class="container container--big " *ngIf="color">
    <div class="container__img">
        <img class="container__img__image" src="{{dataImg}}" alt="" >
    </div>
    <div class="container__text {{color}}">
        <div class="container__text__header ">
            {{dataHeader}}
        </div>
        {{dataText}}
    </div>
</div>
<div class="container container--small" *ngIf="!color">
    <div class="container__img">
        <img class="container__img__image--small" src="{{dataImg}}" alt="" >
    </div>
    <div class="container__text {{color}}">
        <div class="container__text__header ">
            {{dataHeader}}
        </div>
        {{dataText}}
    </div>
</div>
