<section class="container">
  <div class="container_content">
    <h1 class="container__title">Team 3</h1>
    <div class="container__items">
      <p class="containet__text">Hakob Tonoyan</p>
      <p class="containet__text">BackEnd Java</p>
    </div>
    <div class="container__items">
      <p class="containet__text">Roman Kolesnyk</p>
      <p class="containet__text">BackEnd Java</p>
    </div>
    <div class="container__items">
      <p class="containet__text">Oleg Pak</p>
      <p class="containet__text">BackEnd Java</p>
    </div>
    <hr>
    <div class="container__items">
      <p class="containet__text">Daniil Flerko</p>
      <p class="containet__text">FrontEnd Angular</p>
    </div>
    <div class="container__items">
      <p class="containet__text">Svitlana Petrytska</p>
      <p class="containet__text">FrontEnd Angular</p>
    </div>
    <hr>
    <div class="container__items">
      <p class="containet__text">Davit Balabekyan</p>
      <p class="containet__text">AQA Java</p>
    </div>
    <div class="container__items">
      <p class="containet__text">Andrei Stoean</p>
      <p class="containet__text">AQA Java</p>
    </div>
    <div class="container__items">
      <p class="containet__text">Zoltan Bone-Greczi</p>
      <p class="containet__text">AQA Java</p>
    </div>
  </div>

  <div class="container__content">
    <h2 class="container__title">Mentors</h2>
    <div class="container__items">
      <p class="containet__text">Maksim Elyashevichn</p>
      <p class="containet__text">BackEnd Java</p>
    </div>
    <div class="container__items">
      <p class="containet__text">Anastasiia Shevchenko</p>
      <p class="containet__text">FrontEnd Angular</p>
    </div>
    <div class="container__items">
      <p class="containet__text">Volodymyr Mushynskyi</p>
      <p class="containet__text">AQA Java</p>
    </div>
    <div class="container__items">
      <p class="containet__text">Yaroslav Dyshkant</p>
      <p class="containet__text">AQA Java</p>
    </div>
    <h2 class="container__title">Customer</h2>
    <div class="container__items">
      <p class="containet__text">Liudmila Barshcheuskaya</p>
    </div>
    <h2 class="container__title">Project Coordinator</h2>
    <div class="container__items">
      <p class="containet__text">Aliona Markava</p>
    </div>
  </div>

</section>
