footer {
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    min-height: 25vh;
    color: white;
    background-color: rgb(64, 64, 115);
}

.container {
    padding: 30px 12vw;
}

.container__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.container__logo {
    font-size: 24px;
    margin-bottom: 30px;
}

.container__logo:hover {
    cursor: pointer;
}

.container__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__text {
    font-size: 12px;
}

.container__link {
    margin: 10px;
}

hr {
    border: none;
    color: rgba(255, 255, 255, 0.515);
    background-color: rgba(255, 255, 255, 0.515);
    height: 1px;
}

@media (min-width:720px) {
    .container__footer {
        flex-direction: row;
        justify-content: space-between;
    }

    .container__links {
        flex-direction: row;
    }

    .container__logo {
        margin-bottom: auto;
    }
}