<footer>
  <div class="container">
    <div class="container__footer">
      <div class="container__logo" routerLink="">The Emotions Lab</div>
      <div class="container__logo__links">
        <a class="container__logo__links__link">About Us</a>
        <a class="container__logo__links__link">FAQ</a>
        <a class="container__logo__links__link">Contact Us</a>
      </div>
    </div>
    <hr>
    <div class="container__footer">
      <p class="container__footer__text">Created by Team 3</p>
      <p class="container__footer__text">All rights Reserved</p>
    </div>
  </div>

</footer>
